@page "/participants"
@using Microsoft.AspNetCore.WebUtilities
@using ConferenceApp.Models
@using ConferenceApp.Services
@using ConferenceApp.Helpers
@inject IParticipantService ParticipantService
@inject NavigationManager NavigationManager
@inject ParticipantRazorService ParticipantRazorService


<h2>PARTICIPANTS</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in participants)
        {
            <tr @onclick="()=>GoToParticipant(participant.ID)" style="cursor: pointer">
                <td>@participant.ID</td>
                <td>@(participant.FirstName + ' ' + @participant.LastName)</td>
                <td>@participant.Email</td>
                <td>@participant.CompanyName</td>
                <td>@participant.PositionInCompany</td>
                <td>@participant.Inserted</td>
                <td><span class="badge badge-primary">New</span></td>
            </tr>
        }
    </tbody>
</table>


<Pagination GoToPage="ChangePage" totalPages="@totalPages" currentPage="@currentPage" />

@code {
    [Flags]
    private enum SortDirections
    {
        ASC,
        DESC
    }

    [Flags]
    private enum SortByFields
    {
        NAME,
        EMAIL,
        COMPANY,
        POSITION,
        COUNTRY,
        REGISTRATION_DATE,
        STATUS
    }

    private PaginatedList<Participant> participants;
    private SortByFields sortBy;
    private SortDirections sortDirection;
    private int totalPages;
    private int currentPage = 1;

    protected void FetchParticipants(int? page)
    {
        var nextPage = page ?? currentPage;
        participants = ParticipantService.PaginatedList(nextPage);
        totalPages = participants.TotalPages;
        currentPage = participants.CurrentPage;
    }

    protected override void OnInitialized()
    {
        ParseQueryString();
        FetchParticipants(null);
    }

    private void _ParseArguments(Dictionary<string, Microsoft.Extensions.Primitives.StringValues> query)
    {
        if (query != null && query.TryGetValue("sortBy", out var sortByParam))
        {
            sortBy = (SortByFields)Enum.Parse(typeof(SortByFields), sortByParam.First(), true);
        }

        if (query != null && query.TryGetValue("sortDirection", out var sortDirectionParam))
        {
            sortDirection = (SortDirections)Enum.Parse(typeof(SortDirections), sortDirectionParam.First(), true);
        }
    }

    private void ParseQueryString()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseNullableQuery(uri.Query);

        try
        {
            this._ParseArguments(query);
        }
        catch (ArgumentException e)
        {
            Console.WriteLine("ERROR {error}", e.Source);
            throw;
        }

    }

    public void ChangePage(int page)
    {
        FetchParticipants(page);
    }

    public void GoToParticipant(int ParticipantID)
    {
        NavigationManager.NavigateTo($"/participants/{ParticipantID}?sortBy=name");
    }
}
