@page "/participants/{ParticipantID:int}"
@using ConferenceApp.Models
@using ConferenceApp.Services
@using ConferenceApp.Pages.Participant.Services
@using ConferenceApp.Shared.Forms
@inject IParticipantService ParticipantService
@inject IGenderService GenderService
@inject IParticipantRoleService ParticipantRoleService
@inject ICountryService CountryService
@inject NavigationManager NavigationManager
@inject ParticipantRazorService ParticipantRazorService
@implements IDisposable

<div class="container">
    @if (participant != null)
    {
    <EditForm Model="@participant" OnValidSubmit="UpdateParticipant">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <fieldset disabled="@(editMode == false)">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <InputText type="text" class="form-control" id="first-name" @bind-Value="@participant.FirstName" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <InputText type="text" class="form-control" id="last-name" @bind-Value="@participant.LastName" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText type="email" class="form-control" id="email" @bind-Value="@participant.Email" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="company">Company</label>
                        <InputText type="text" class="form-control" id="company" @bind-Value="@participant.CompanyName" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="position">Position</label>
                        <InputText type="text" class="form-control" id="position" @bind-Value="@participant.PositionInCompany" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @if (participantGender != null)
                    {
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <CustomInputSelect class="custom-select" @bind-Value="@participantGender.ID">
                                @foreach (var gender in genders)
                                {
                                    <option selected="@(gender.ID == participantGender.ID)" value="@gender.ID">@gender.Value</option>
                                }
                            </CustomInputSelect>
                        </div>
                    }

                </div>
                <div class="col">
                    @if (participantRole != null)
                    {
                        <div class="form-group">
                            <label for="position">Role</label>
                            <CustomInputSelect class="custom-select" @bind-Value="@participantRole.ID">
                                @foreach (var role in roles)
                                {
                                    <option selected="@(role.ID == participantRole.ID)" value="@role.ID">@role.RoleName</option>
                                }
                            </CustomInputSelect>
                        </div>
                    }
                    </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (participantCountry != null)
                    {
                        <div class="form-group">
                            <label for="country">Country</label>
                            <CustomInputSelect class="custom-select" @bind-Value="@participantCountry.ID">
                                @foreach (var country in countries)
                                {
                                    <option selected="@(country.ID == participantCountry.ID)" value="@country.ID">@country.Name</option>
                                }
                            </CustomInputSelect>
                        </div>
                    }
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="birthdate">Birth Date</label>
                        <InputDate class="form-control" id="birthdate" @bind-Value="@participant.BirthDate" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="date-of-arrival">Date of Arrival</label>
                        <InputDate class="form-control" id="date-of-arrival" @bind-Value="@participant.DateOfArrival" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="date-of-departure">Date of Departure</label>
                        <InputDate class="form-control" id="date-of-departure" @bind-Value="@participant.DateOfDeparture" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="form-group">
                @if (editMode)
                {
                    <button type="submit" class="btn btn-primary ml-1">Submit</button>

                }
                @if (!editMode)
                {
                    <button @onclick="SetEditMode" @onclick:preventDefault class="btn btn-success ml-1">Edit</button>
                }
                <button @onclick="DeleteParticipant"  class="btn btn-danger ml-1">Delete</button>
            </div>
        </div>
    </EditForm>
    }
</div>



@code {
    [Parameter] public int ParticipantID { get; set; }
    private Participant participant;
    private Country participantCountry;
    private Gender participantGender;
    private ParticipantRole participantRole;

    private List<Gender> genders;
    private List<ParticipantRole> roles;
    private List<Country> countries;

    private bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        participant = await ParticipantService.Get(ParticipantID);
        participantCountry = new Country() { ID = participant.Country.ID, Name = participant.Country.Name };
        participantGender = new Gender() { ID = participant.Gender.ID, Value = participant.Gender.Value };
        participantRole = new ParticipantRole() { ID = participant.Role.ID, RoleName = participant.Role.RoleName };

        genders = await GenderService.Get();
        roles = await ParticipantRoleService.Get();
        countries = await CountryService.Get();

    }

    private void SetEditMode()
    {
        editMode = true;
    }

    private void UpdateParticipant(EditContext editContext)
    {
        ParticipantService.UpdateFromRazor(participant, participantCountry, participantRole, participantGender);
        editMode = false;
    }

    private string DisabledClass()
    {
        return editMode ? "" : "disabled";
    }

    private void DeleteParticipant()
    {
        ParticipantService.Delete(participant);
    }

    public void Dispose()
    {
    }
}